.footerList{
    font-size: 15px;
    color: var(--textColor);
    transition: .3s ease-in-out;

    .icon{
        font-size: 15px;
        color: var(--greyText);
    }

    &:hover{
        color: var(--PrimaryColor);
        transform: translateX(7px);

        .icon{
            color: var(--SecondaryColor);

        }
    }
}


@media screen and (min-width: 500px) {
    .footer{
        .secContent{
            .footerCard{
                .footerLinks{
                    grid-template-columns: repeat(3,1fr);
                    padding-bottom: 1rem;
                }
            }

            .footerDiv{
                justify-content: center;
                flex-direction: row;
            }
        }
    }
}