.input[type=range]{
    background: blue;
}

@media screen and (min-width: 500px ) {
    .home{
        .homeContent{
            .textDiv{
                .smallText{
                    font-size: 16px;
                }

                .homeTitle{
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;

                    &::after{
                        position: absolute;
                        content: '';
                        background: var(--SecondaryColor);
                        height: 5px;
                        width: 145px;
                        right: 0px;
                        bottom: 5px;
                        z-index: -1;
                    }
                }
            }

            .cardDiv{
                grid-template-columns: repeat(2,1fr);
                padding: 80px 40px;
                width: 100%;
            }
        }
    }
}


@media screen and (min-width: 660px) {
    .home{
        .homeContent{
            .cardDiv{
                padding: 2rem 1rem;
                grid-template-columns: repeat(3,1fr);

            }
        }
    }
}

@media screen and (min-width: 940px) {
    .home{
        height: 85vh;
    }
}


@media screen and (min-width: 1240px) {
   .homeContent{
    padding-right: 0;
    padding-left: 0;

    .cardDiv{
        padding: 2rem 1rem;
        grid-template-columns: repeat(3,1fr);
        .input{
            margin-bottom: 1rem;
        }

        .searchOptions{
            bottom: -1rem;
            padding: 8px 1rem;

            span{
                font-size: 17px;
            }
        }
    }
   }
}
