.secTitle{
    .title{
        position: relative;
        width: max-content;
        color: var(--textColor);
        margin: 1rem 0;
        z-index: 2;

    
    
    &::after{
        position: absolute;
        content: '';
        background: var(--SecondaryColor);
        height: 5px;
        width: 120px;
        right: 0;
        bottom: 5px;
        z-index: -1;
    }
}
}


@media screen and (min-width: 500px) {
    .title{
        font-size: 1.5rem;
        &::after{
            width: 155px !important;
        }
    }

    .secContent{
        grid-template-columns: repeat(2,1fr);

        .singleDestination{
            height: auto;
        }
    }
}

@media screen and (min-width: 840px) {
    .secContent{
        grid-template-columns: repeat(3,1fr);

        .singleDestination{
            height: auto;
        }
    }
}